
	<properties>
		<jersey.version>1.19.3</jersey.version> <!-- Jersey 1.19.3 ( Oct 24, 2016 ) -->
		<!-- <servlet.version>3.1.0</servlet.version> --> <!-- Servlet 3.1 ( Apr 25, 2013 ) JavaEE 7 - Tomcat 8  -->
		<servlet.version>3.0.1</servlet.version> <!-- Servlet 3.0 ( Jul 12, 2011 ) JavaEE 6 - Tomcat 7  -->
	</properties>

	<dependencies>

		<!-- JAX-RS 1 with JERSEY 1.x IMPLEMENTATION -->
		<dependency>
			<groupId>com.sun.jersey</groupId>
			<artifactId>jersey-core</artifactId>
			<version>${DOLLAR}{jersey.version}</version>
		</dependency>
		<dependency>
			<groupId>com.sun.jersey</groupId>
			<artifactId>jersey-json</artifactId>
			<version>${DOLLAR}{jersey.version}</version>
		</dependency>
		<dependency>
			<groupId>com.sun.jersey</groupId>
			<artifactId>jersey-servlet</artifactId>
			<version>${DOLLAR}{jersey.version}</version>
		</dependency>
		<dependency>
			<groupId>com.sun.jersey.contribs</groupId>
			<artifactId>jersey-multipart</artifactId>
			<version>${DOLLAR}{jersey.version}</version>
		</dependency>

		<!-- Servlet/JSP -->
		<dependency>
			<groupId>javax.servlet</groupId>
			<artifactId>javax.servlet-api</artifactId>
			<version>${DOLLAR}{servlet.version}</version>
			<scope>provided</scope>
		</dependency>

	</dependencies>

